{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div id="carouselExampleIndicators" class="shadow-sm carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3500">
            <img src="{% static 'app/img/cmprsd/1-min.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="{% static 'app/img/cmprsd/2-min.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="{% static 'app/img/cmprsd/visual_1-min.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mx-xl-5 mx-0 d-flex justify-content-center">
    <div class="mx-xl-5 mx-0 yellow-bg">
        <div class="col-12 d-flex justify-content-center">
            <div id="about_compelx" class="col-10 p-2 green-tx mt-xl-5 mt-md-5 mt-3"><p style="text-decoration:underline" class="h2 text-center">Про комплекс</p></div>
        </div>
        <div class="d-flex justify-content-center hiddenXS">
            <div class="d-flex flex-row col-xl-9 col-md-12 border-1 border-bottom border-green p-4 shadow">
                <div class="d-flex align-items-start p-0" id="complex"> <!--data-aos="fade-up"-->
                    <div class="nav flex-column nav-pills yellow-bg" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="shadow mb-2 px-2 pt-2 pb-1 nav-link active green-tx border border-yellow rounded-3" id="v-pills-apartment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-apartment" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <span class="material-icons md-52">apartment</span><p>Инфоструктура</p>
                        </button>
                        <button class="shadow my-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-architecture-tab" data-bs-toggle="pill" data-bs-target="#v-pills-architecture" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <span class="material-icons md-52">architecture </span><p>Архитектура</p>
                        </button>
                        <button class="shadow my-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-nature-tab" data-bs-toggle="pill" data-bs-target="#v-pills-nature" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <span class="material-icons md-52">nature_people</span><p>Двор</p>
                        </button>
                        <button class="shadow mt-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-room-tab" data-bs-toggle="pill" data-bs-target="#v-pills-room" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <span class="material-icons md-52">meeting_room</span><p>Внутри дома</p>
                        </button>
                    </div>
                    <div class="tab-content border-start border-green green-tx px-xl-5 ps-md-2" style="margin-left:5%; margin-top:5%; height:75%" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" style="height:100%" id="v-pills-apartment" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <p style="height:100%" align="justify">
                                “Twenty two” – это многофункциональный комплекс. Все, что нужно жильцам дома, уже собрано в едином
                                пространстве под одной крышей. Первые этажи комплекса запроектированы под торговый центр – супермаркет, любимые кофейни и салоны красоты, игровые пространства для детей – все расположено здесь.
                                Торговый центр сменяют несколько этажей офисных помещений – в комплексе можно не только комфортно жить, отдыхать и делать покупки, но и продуктивно работать.<br /><br />
                                “Twenty two” расположен на пересечении проспекта Гагарина и улицы Молочной. Он равноудален от двух станций метро “Проспект Гагарина” и “Спортивная”, расстояние до обеих –
                                900 м, а это всего 10 минут пешком. В пешей доступности от комплекса школы, детские сады, Конный рынок, супермаркеты, тренажерные залы и салоны красоты.<br /><br />
                                Комплекс находится на одной из главных транспортных артерий города, и в этом одно из главных преимуществ его расположения. До центра Харькова на авто можно доехать за 5 минут, до железнодорожного вокзала –
                                за 10, а путь в аэропорт займет не больше 15 минут.
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height:100%" id="v-pills-architecture" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <p style="height:100%" align="justify">
                                Комплекс выполнен в архитектурном стиле конструктивизм. Архитекторы отказались от ультрамодных форм и отдали
                                предпочтение спокойным масштабным решениям. Две башни, объединенные едиными коммерческими помещениями, и двадцать два этажа высоты делают комплекс монументальным. МФК “Twenty two” минималистичный и визуально
                                целостный, масштабный и сдержанный. Террасы на верхних этажах – интересные детали, которые заставляют рассматривать комплекс. Дополнило идею фасадное решение. В комплексе будет использован вентилируемый навесной фасад.
                                Этажи с торговыми и офисными помещениями будут выделены акцентным фасадным решением.
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height:100%" id="v-pills-nature" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <p style="height:100%" align="justify">
                                Двор комплекса будет просторным и огороженным от посторонних глаз.
                                Во дворе расположатся детские площадки для детей разного возраста, спортивные площадки, места для отдыха, а также стоянка для велосипедов. Для комфорта и безопасности владельцев квартир в комплексе предусмотрена
                                система видеонаблюдения, которая охватывает не только секции, но и паркинги, а также двор. Оставить свои машины владельцы квартир смогут в подземном паркинге, рассчитанном на 159 мест. Также в комплексе есть отдельный
                                паркинг на 137 машиномест для посетителей торгового центра и владельцев офисных помещений.
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height:100%" id="v-pills-room" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <p style="height:100%" align="justify">
                                Просторные холлы с консьержем, круглосуточная охрана, система видеонаблюдения, лифты высшего класса,
                                отдельное помещение в паркинге для хранения колясок и велосипедов — каждая деталь внутри дома продумана для максимального комфорта жильцов.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="my-xl-4 my-md-0 col-12 d-flex justify-content-center">
            <div class="col-xl-9 col-md-12 shadow d-flex flex-wrap m-5" id="info"> <!-- data-aos="zoom-out"-->
                <div class="hideXordBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx border-1 border-green border-end border-bottom p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">near_me</div>
                    <div class="col-7 d-flex align-items-center pb-2">Центральный <br /> район</div>
                </div>
                <div class="hideXordBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx border-1 border-green border-end border-bottom p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">business_center</div>
                    <div class="col-7 d-flex align-items-center pb-2">Бизнес <br /> класс</div>
                </div>
                <div class="hideXordBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx border-1 border-green border-bottom p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">gpp_good</div>
                    <div class="col-7 d-flex align-items-center">Круглосуточная охрана</div>
                </div>
                <div class="hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx border-1 border-green border-end p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">foundation</div>
                    <div class="col-7 d-flex align-items-center ">Монолитный <br />  каркас</div>
                </div>
                <div class="hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx border-1 border-green border-end p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">view_compact</div>
                    <div class="col-7 d-flex align-items-center pb-2">Утеплённые: <br /> стены из газоблока</div>
                </div>
                <div class="hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 d-flex justify-content-center green-tx p-3">
                    <div class="d-flex justify-content-center material-icons md-60 col-5">local_parking</div>
                    <div class="col-7 d-flex align-items-center pb-2">Подземная парковка <br />на 296 мест</div>
                </div>
            </div>
        </div>
        <div id="shortinfo" style="display:none">
            <nav>
             <div class="nav nav-tabs d-flex justify-content-around border-green" id="nav-tab" role="tablist">
                <button class="green-tx nav-link active p-1 mb-2 rounded-3" id="nav-apartment-tab" data-bs-toggle="tab" data-bs-target="#nav-apartment" type="button" role="tab" aria-controls="nav-apartment" aria-selected="true">Инфоструктура</button>
                <button class="green-tx nav-link p-1 mb-2 rounded-3" id="nav-architecture-tab" data-bs-toggle="tab" data-bs-target="#nav-architecture" type="button" role="tab" aria-controls="nav-architecture" aria-selected="false">Архитектура</button>
                <button class="green-tx nav-link p-1 mb-2 rounded-3" id="nav-nature-tab" data-bs-toggle="tab" data-bs-target="#nav-nature" type="button" role="tab" aria-controls="nav-nature" aria-selected="false">Двор</button>
              </div>
            </nav>
            <div class="tab-content green-tx px-2 mt-2" id="nav-tabContent" data-aos="fade-up">
              <div class="tab-pane fade show active" id="nav-apartment" role="tabpanel" aria-labelledby="nav-apartment-tab"><p style="height:100%" align="justify">
                                    “Twenty two” – это многофункциональный комплекс. Все, что нужно жильцам дома, уже собрано в едином
                                    пространстве под одной крышей. Первые этажи комплекса запроектированы под торговый центр – супермаркет, любимые кофейни и салоны красоты, игровые пространства для детей – все расположено здесь.
                                    Торговый центр сменяют несколько этажей офисных помещений – в комплексе можно не только комфортно жить, отдыхать и делать покупки, но и продуктивно работать.<br /><br />
                                    “Twenty two” расположен на пересечении проспекта Гагарина и улицы Молочной. Он равноудален от двух станций метро “Проспект Гагарина” и “Спортивная”, расстояние до обеих –
                                    900 м, а это всего 10 минут пешком. В пешей доступности от комплекса школы, детские сады, Конный рынок, супермаркеты, тренажерные залы и салоны красоты.<br /><br />
                                    Комплекс находится на одной из главных транспортных артерий города, и в этом одно из главных преимуществ его расположения. До центра Харькова на авто можно доехать за 5 минут, до железнодорожного вокзала –
                                    за 10, а путь в аэропорт займет не больше 15 минут.
                                </p></div>
              <div class="tab-pane fade" id="nav-architecture" role="tabpanel" aria-labelledby="nav-architecture-tab"><p style="height:100%" align="justify">
                                    Комплекс выполнен в архитектурном стиле конструктивизм. Архитекторы отказались от ультрамодных форм и отдали
                                    предпочтение спокойным масштабным решениям. Две башни, объединенные едиными коммерческими помещениями, и двадцать два этажа высоты делают комплекс монументальным. МФК “Twenty two” минималистичный и визуально
                                    целостный, масштабный и сдержанный. Террасы на верхних этажах – интересные детали, которые заставляют рассматривать комплекс. Дополнило идею фасадное решение. В комплексе будет использован вентилируемый навесной фасад.
                                    Этажи с торговыми и офисными помещениями будут выделены акцентным фасадным решением. <br /><br />
                                    Просторные холлы с консьержем, круглосуточная охрана, система видеонаблюдения, лифты высшего класса,
                                    отдельное помещение в паркинге для хранения колясок и велосипедов — каждая деталь внутри дома продумана для максимального комфорта жильцов.
                                </p></div>
              <div class="tab-pane fade" id="nav-nature" role="tabpanel" aria-labelledby="nav-nature-tab"><p style="height:100%" align="justify">
                                    Двор комплекса будет просторным и огороженным от посторонних глаз.
                                    Во дворе расположатся детские площадки для детей разного возраста, спортивные площадки, места для отдыха, а также стоянка для велосипедов. Для комфорта и безопасности владельцев квартир в комплексе предусмотрена
                                    система видеонаблюдения, которая охватывает не только секции, но и паркинги, а также двор. Оставить свои машины владельцы квартир смогут в подземном паркинге, рассчитанном на 159 мест. Также в комплексе есть отдельный
                                    паркинг на 137 машиномест для посетителей торгового центра и владельцев офисных помещений.
                                </p></div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div id="planning" class="col-10 p-2 green-tx"><p style="text-decoration:underline" class="h2 text-center">Планировочные решения</p></div>
        </div>
    </div>
</div>
<div class="shadow-lg border-top border-bottom border-1 border-dark d-flex green-bg justify-content-center col-12 m-0">
    <div class="col-xl-9 col-12 d-flex flex-xl-row flex-column">
        <div class="order-2 order-xl-1 col-xl-4 col-12 p-0 yellow-tx d-flex align-items-center" id="planningtx"> <!--data-aos="fade-right"-->
            <p align="justify" class="pe-xl-4 m-0 resp_text p-2 col-md-10 col-xl-12 col-11">
                Квартиры в комплексе запроектированы с седьмого по двадцать второй этажи. Ни на одном из этажей нет типовых решений. Потому чтобы выбрать свою идеальную квартиру, мы рекомендуем просмотреть планы всех этажей.
                Просторные или наоборот небольшие квартиры с террасами, двухуровневые квартиры с лучшими видами, для большой семьи, для пары или для холостяка – в МФК “Twenty two” каждый найдет для себя идеальный вариант.
            </p>
        <span class="remark orange-bg col-md-2 col-1" style="height:100%;"></span>
        </div>       
        <div class="order-1 order-xl-2 col-xl-8 col-12 p-0">
            <div id="carouselExampleIndicators_center" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3500">
                        <img src="{% static 'app/img/cmprsd/visual_2-min.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3500">
                        <img src="{% static 'app/img/cmprsd/visual_3-min.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_center" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_center" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="mx-xl-5 mx-0">
    <div class="mx-xl-5 mx-0 yellow-bg">
        <div class="col-12 d-flex justify-content-center">
            <div id="apartment" class="mt-xl-5 mt-md-5 mt-3 col-10 p-2 green-tx"><p style="text-decoration:underline" class="h2 text-center">Подобрать квартиру</p></div>
        </div>
        <div class="p-0 d-flex justify-content-center">
            <div class="col-10 col-xl-8 p-0 d-flex justify-content-center">
                <iframe data-aos="zoom-out" id="frame" style="width:100%; height:650px" referrerpolicy="no-referrer"
                        src="https://chessgrid.developerit.systems/public/developers/5ecd1c2590de761738c029a3/apartmentComplex/6151c5e35f333e539505f646/layout/61593eeb5f333e5395b45dea?authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlLZXkiOiI3Zjc4MGIzYy1iYzgwLTQ1YWMtOTkxMS01YjYyMjlkMTg5NzUiLCJpYXQiOjE2MzMzNTA4NzksImV4cCI6MTc5MTEzODg3OX0.4GXbFFq8RxxxogLwV4gYpzo2V4wS1kUGxj5PztQ_fpE">
                </iframe>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-xl-7 col-md-10 col-11 white-tx green-bg shadow-lg p-4 rounded-3" data-aos="fade-down" data-aos-duration="1000">
                <p class="col-12 p-0 d-flex justify-content-center yellow-tx h4" align="center">Оставьте свои данные. Наш менеджер позвонит и поможет подобрать квартиры под ваш запрос</p>
                <form class="pt-4">
                    <div class="mb-3 border-bottom col-12">
                        <label for="InputName" class="form-label yellow-tx">Ваше имя</label>
                        <input type="text" required class="contact_info yellow-tx form-control border-0 px-1 green-bg col-12" id="InputName">
                    </div>
                    <div class="mb-3 border-bottom col-12">
                        <label for="InputEmail" class="form-label yellow-tx">Электронный адрес</label>
                        <input type="email" required class="contact_info yellow-tx form-control border-0 px-1 green-bg col-12" id="InputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 border-bottom col-12">
                        <label for="inputPhone" class="form-label yellow-tx">Номер телефона</label>
                        <input type="text" class="contact_info yellow-tx form-control border-0 px-1 green-bg col-12" id="inputPhone">
                    </div>
                    <div class="col-12 pt-4 d-flex justify-content-end">
                        <a class="h4 send">ОТПРАВИТЬ</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div id="location" class="mt-xl-5 mt-md-5 mt-3 col-10 p-2 green-tx"><p style="text-decoration:underline" class="h2 text-center">Расположение</p></div>
        </div>
        <div class="col-12 d-flex justify-content-center" >
            <div class="col-xl-10 col-12 shadow-lg d-flex flex-xl-row flex-md-row flex-column mb-xl-5 mb-md-5 mx-0" data-aos="fade-up"data-aos-duration="1000" data-aos-offset="0">
                <div class="col-4 shadow-lg green-bg" id="markers" style="width:25%;">
                    <a id="market" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Магазины</a>
                    <a id="parks" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Парки</a>
                    <a id="restaurant" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Рестораны</a>
                    <a id="medicine" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Здоровье</a>
                    <a id="transports" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Транспортные сети</a>
                    <a id="schools" class="p-3 p-xl-0 p-md-0 marks col-12 d-flex justify-content-center align-items-center border-bottom" style="height:10%" href="#location">Учебные заведения</a>
                </div>
                <div id="map" style="width:75%; height:500px"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    //On load
    $(window).on('load', function () {
        $('#loading').hide();
        const mediaQuery = window.matchMedia('(min-width: 1200px)')
        // Check if the media query is true
        if (mediaQuery.matches) {
            // Then trigger an alert
            $("#complex").attr("data-aos", "fade-up");
            $("#info").attr("data-aos", "zoom-out");
            $("#planningtx").attr("data-aos", "fade-left");
        }
        else {
            $("#complex").attr("data-aos", "fade-up");
            $("#info").attr("data-aos", "fade-up");
            $("#planningtx").attr("data-aos", "fade-down");
            $("#frame").attr("data-aos", "fade-down");
        }
          AOS.init();
    })
</script>

<script type="text/javascript">
    var map;
    DG.then(function () {
        var map,
            complexes = DG.featureGroup(),
            markets = DG.featureGroup(),
            medicine = DG.featureGroup(),
            parks = DG.featureGroup(),
            restaurants = DG.featureGroup(),
            schools = DG.featureGroup(),
            transports = DG.featureGroup(),
            map = DG.map('map', {
                center: [49.978350, 36.251630],
                zoom: 16,
                zoomControl: false
            });

        complex = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-36">apartment</span>'
        });
        market = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">local_grocery_store</span>'
        });
        medic = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">local_hospital</span>'
        });
        park = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">park</span>'
        });
        restaurant = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">restaurant</span>'
        });
        transport = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">directions_subway_filled</span>'
        });
        school = DG.divIcon({
            iconSize: [0, 0],
            html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">school</span>'
        });

        DG.marker([49.978350, 36.251630], { icon: complex }).addTo(complexes).bindPopup('«TwentyTwo»');
        complexes.addTo(map);

        $("#market").click(function () {
            map.setView([49.977350, 36.255630], 15);
            transports.removeFrom(map);
            medicine.removeFrom(map);
            schools.removeFrom(map);
            parks.removeFrom(map);
            restaurants.removeFrom(map);
            DG.marker([49.977646, 36.252224], { icon: market }).addTo(markets).bindPopup('АТБ, мережа супермаркетів');
            DG.marker([49.977026, 36.250235], { icon: market }).addTo(markets).bindPopup('Таврія В');
            DG.marker([49.976072, 36.251933], { icon: market }).addTo(markets).bindPopup('Посад');
            DG.marker([49.978684, 36.24795], { icon: market }).addTo(markets).bindPopup('MAKmarket');
            DG.marker([49.977379, 36.245301], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
            DG.marker([49.97927, 36.24617], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
            DG.marker([49.975861, 36.245724], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
            DG.marker([49.97509, 36.248292], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
            DG.marker([49.974648, 36.248918], { icon: market }).addTo(markets).bindPopup('Посад');
            DG.marker([49.973427, 36.251228], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
            DG.marker([49.974648, 36.248918], { icon: market }).addTo(markets).bindPopup('Посад');
            DG.marker([49.973261, 36.256766], { icon: market }).addTo(markets).bindPopup('Маркет+');
            DG.marker([49.974754, 36.25623], { icon: market }).addTo(markets).bindPopup('Магазин товарів із Європи');
            DG.marker([49.975544, 36.260947], { icon: market }).addTo(markets).bindPopup('Посад');
            DG.marker([49.98072, 36.253142], { icon: market }).addTo(markets).bindPopup('Щедрий фермер');
            DG.marker([49.981579, 36.254255], { icon: market }).addTo(markets).bindPopup('Продуктовий магазин');
            DG.marker([49.981155, 36.25562], { icon: market }).addTo(markets).bindPopup('Борисфен');
            DG.marker([49.980601, 36.257964], { icon: market }).addTo(markets).bindPopup('Десятка');
            DG.marker([49.978902, 36.264324], { icon: market }).addTo(markets).bindPopup('Десятка');
            markets.addTo(map);
        });
        $("#restaurant").click(function () {
            map.setView([49.978379, 36.253903], 16);
            medicine.removeFrom(map);
            markets.removeFrom(map);
            transports.removeFrom(map);
            parks.removeFrom(map);
            schools.removeFrom(map);
            DG.marker([49.977078, 36.2503], { icon: restaurant }).addTo(restaurants).bindPopup('Т-Спринт');
            DG.marker([49.976603, 36.251326], { icon: restaurant }).addTo(restaurants).bindPopup('Союз');
            DG.marker([49.976246, 36.252564], { icon: restaurant }).addTo(restaurants).bindPopup("Птаха кава");
            DG.marker([49.975707, 36.253585], { icon: restaurant }).addTo(restaurants).bindPopup('Йоль');
            DG.marker([49.975299, 36.254189], { icon: restaurant }).addTo(restaurants).bindPopup('Cipollino');
            DG.marker([49.975834, 36.254876], { icon: restaurant }).addTo(restaurants).bindPopup('Хороші сусіди');
            DG.marker([49.974623, 36.256313], { icon: restaurant }).addTo(restaurants).bindPopup('Слобідський');
            DG.marker([49.973948, 36.255683], { icon: restaurant }).addTo(restaurants).bindPopup('ProCoffeey');
            DG.marker([49.972853, 36.256584], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
            DG.marker([49.978422, 36.248596], { icon: restaurant }).addTo(restaurants).bindPopup('ДзенКава');
            DG.marker([49.978784, 36.248672], { icon: restaurant }).addTo(restaurants).bindPopup('Наталі');
            DG.marker([49.97973, 36.245905], { icon: restaurant }).addTo(restaurants).bindPopup('Delice');
            DG.marker([49.975824, 36.245962], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
            DG.marker([49.977194, 36.245256], { icon: restaurant }).addTo(restaurants).bindPopup('Кафе');
            DG.marker([49.97568, 36.259474], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
            DG.marker([49.979323, 36.257734], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
            DG.marker([49.979535, 36.258509], { icon: restaurant }).addTo(restaurants).bindPopup('1925');
            DG.marker([49.980196, 36.257014], { icon: restaurant }).addTo(restaurants).bindPopup('Надія');
            DG.marker([49.981684, 36.254224], { icon: restaurant }).addTo(restaurants).bindPopup('Шашлична №1');
            DG.marker([49.981445, 36.254139], { icon: restaurant }).addTo(restaurants).bindPopup('Де нас чекают');

            restaurants.addTo(map);
        });
        $("#transports").click(function () {
            map.setView([49.98153, 36.253847], 14);
            medicine.removeFrom(map);
            markets.removeFrom(map);
            restaurants.removeFrom(map);
            schools.removeFrom(map);
            parks.removeFrom(map);
            DG.marker([49.979951, 36.260473], { icon: transport }).addTo(transports).bindPopup('метро "Спортивна"');
            DG.marker([49.978861, 36.26261], { icon: transport }).addTo(transports).bindPopup('метро "Метробудівників"');
            DG.marker([49.988662, 36.264745], { icon: transport }).addTo(transports).bindPopup('метро "Захисників України"');
            DG.marker([49.990995, 36.2333], { icon: transport }).addTo(transports).bindPopup('метро "Майдан Конституції"');
            DG.marker([49.993601, 36.229853], { icon: transport }).addTo(transports).bindPopup('метро "Історичний музей"');
            DG.marker([49.981492, 36.243211], { icon: transport }).addTo(transports).bindPopup('метро "Гагаріна проспект"');
            DG.marker([49.976014, 36.282079], { icon: transport }).addTo(transports).bindPopup('метро "Завод ім. Малишева"');
            DG.marker([49.993571, 36.221000], { icon: transport }).addTo(transports).bindPopup('метро "Центральний Ринок"');
            transports.addTo(map);
        });
        $("#parks").click(function () {
            map.setView([49.98200, 36.253600], 15);
            medicine.removeFrom(map);
            markets.removeFrom(map);
            transports.removeFrom(map);
            restaurants.removeFrom(map);
            schools.removeFrom(map);
            DG.marker([49.985228, 36.245327], { icon: park }).addTo(parks).bindPopup('Михайлівський сквер');
            DG.marker([49.983971, 36.248588], { icon: park }).addTo(parks).bindPopup('Дитячий парк');
            DG.marker([49.98882, 36.247176], { icon: park }).addTo(parks).bindPopup('Сквер Героїв Небесної Сотні');
            DG.marker([49.983004, 36.234306], { icon: park }).addTo(parks).bindPopup('Гімназійна набережна');
            DG.marker([49.979464, 36.267724], { icon: park }).addTo(parks).bindPopup('Сад "Металіст"');
            DG.marker([49.987945, 36.264648], { icon: park }).addTo(parks).bindPopup('Сквер БК ХЕМЗ');
            DG.marker([49.987029, 36.269358], { icon: park }).addTo(parks).bindPopup('Парк БК ХЕМЗ');
            DG.marker([49.985751, 36.27011], { icon: park }).addTo(parks).bindPopup('Дитячий майданчик "Зоряне містечко"');
            DG.marker([49.991782, 36.248486], { icon: park }).addTo(parks).bindPopup('Сквер Фейєрбаха');
            parks.addTo(map);
        });
        $("#schools").click(function () {
            map.setView([49.98200, 36.253600], 15);
            medicine.removeFrom(map);
            markets.removeFrom(map);
            transports.removeFrom(map);
            restaurants.removeFrom(map);
            parks.removeFrom(map);
            DG.marker([49.978616, 36.256305], { icon: school }).addTo(schools).bindPopup('Спеціалізована школа з поглибленим вивченням іноземної мови');
            DG.marker([49.980196, 36.253512], { icon: school }).addTo(schools).bindPopup('UA21. Школа танцю');
            DG.marker([49.978616, 36.256305], { icon: school }).addTo(schools).bindPopup('Top Quality School');
            DG.marker([49.981147, 36.251198], { icon: school }).addTo(schools).bindPopup('Харківська гімназія №46 ім. М.В. Ломоносова');
            DG.marker([49.972484, 36.250913], { icon: school }).addTo(schools).bindPopup('Харківська гімназія №12');
            DG.marker([49.98218, 36.249782], { icon: school }).addTo(schools).bindPopup('Харківська об`єднано-технічна школа товариства сприяння оборони України');
            DG.marker([49.981765, 36.246937], { icon: school }).addTo(schools).bindPopup('Регіональний центр професійної освіти інноваційних технологій будівництва та промисловості');
            DG.marker([49.982329, 36.243232], { icon: school }).addTo(schools).bindPopup('КРОК');
            DG.marker([49.985267, 36.240464], { icon: school }).addTo(schools).bindPopup('Харківська загальноосвітня школа №10');
            DG.marker([49.991472, 36.257968], { icon: school }).addTo(schools).bindPopup('Харківська загальноосвітня школа №19');
            DG.marker([49.98593, 36.252267], { icon: school }).addTo(schools).bindPopup('Детская музыкальная школа №5 им. Римского-Корсакова');


            schools.addTo(map);
        });
        $("#medicine").click(function () {
            map.setView([49.977035, 36.251084], 14.5);
            parks.removeFrom(map);
            schools.removeFrom(map);
            markets.removeFrom(map);
            restaurants.removeFrom(map);
            transports.removeFrom(map);
            DG.marker([49.972338, 36.256567], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
            DG.marker([49.980271, 36.244534], { icon: medic }).addTo(medicine).bindPopup('9-1-1');
            DG.marker([49.975848, 36.255237], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
            DG.marker([49.975618, 36.257681], { icon: medic }).addTo(medicine).bindPopup('Аптека №431');
            DG.marker([49.975326, 36.260932], { icon: medic }).addTo(medicine).bindPopup('Аптека');
            DG.marker([49.973269, 36.25651], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
            DG.marker([49.975771, 36.253252], { icon: medic }).addTo(medicine).bindPopup('Славутич, мережа аптек');
            DG.marker([49.98212, 36.255036], { icon: medic }).addTo(medicine).bindPopup('ГАЛАТЕЯ-ФАРМ');
            DG.marker([49.980472, 36.243671], { icon: medic }).addTo(medicine).bindPopup('Аптека низькі цін №1');
            DG.marker([49.976567, 36.25157], { icon: medic }).addTo(medicine).bindPopup('Аптека низькі цін');
            medicine.addTo(map);
        });

    });
</script>
{% endblock %}