{% extends "app/layout.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<div id="carouselExampleIndicators" class="shadow-sm carousel border-bottom slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3500">
            <img src="{% static 'app/img/1.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="{% static 'app/img/2.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="{% static 'app/img/visual_1.webp' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="d-flex justify-content-center">
    <div class="mx-0 yellow-bg">
        <div class="col-12 d-flex justify-content-center">
            <div id="about_compelx" class="col-10 p-2 green-tx mt-xl-5 mt-md-5 mt-3">
                <p class="h2 text-center">{% trans 'Про комплекс' %}</p>
            </div>
        </div>
        <div id="shortinfo" style="display: none">
            <nav>
                <div class="px-4 nav nav-tabs d-flex justify-content-around border-green" id="nav-tab" role="tablist">
                    <button class="col-6 green-tx nav-link active p-1 mb-2 rounded-3" id="nav-apartment-tab" data-bs-toggle="tab" data-bs-target="#nav-apartment" type="button" role="tab" aria-controls="nav-apartment" aria-selected="true">
                        <span class="material-icons md-52">account_tree</span><p>{% trans 'Инфраструктура' %}</p>
                    </button>
                    <button class="col-6 green-tx nav-link p-1 mb-2 rounded-3" id="nav-architecture-tab" data-bs-toggle="tab" data-bs-target="#nav-architecture" type="button" role="tab" aria-controls="nav-architecture" aria-selected="false">
                        <span class="material-icons md-52">architecture </span>
                        <p>{% trans 'Архитектура' %}</p>
                    </button>
                    <button class="col-6 green-tx nav-link p-1 mb-2 rounded-3" id="nav-nature-tab" data-bs-toggle="tab" data-bs-target="#nav-nature" type="button" role="tab" aria-controls="nav-nature" aria-selected="false">
                        <span class="material-icons md-52">nature_people</span><p>{% trans 'Двор' %}</p>
                    </button>
                    <button class="col-6 green-tx nav-link p-1 mb-2 rounded-3" id="nav-inside-tab" data-bs-toggle="tab" data-bs-target="#nav-inside" type="button" role="tab" aria-controls="nav-nature" aria-selected="false">
                        <span class="material-icons md-52">meeting_room</span><p>{% trans 'Внутри дома' %}</p>
                    </button>
                </div>
            </nav>
            <div class="tab-content green-tx px-4 mt-2" id="nav-tabContent" data-aos="fade-up">
                <div class="tab-pane fade show active" id="nav-apartment" role="tabpanel" aria-labelledby="nav-apartment-tab">
                    <p style="height: 100%" align="justify">
                        {% blocktranslate %} 
                        “Twenty two” – это многофункциональный комплекс. Все, что нужно жильцам дома, уже собрано в едином
                        пространстве под одной крышей. Первые этажи комплекса запроектированы под торговый центр – супермаркет, любимые кофейни и салоны красоты, игровые пространства для детей – все расположено здесь.
                        Торговый центр сменяют несколько этажей офисных помещений – в комплексе можно не только комфортно жить, отдыхать и делать покупки, но и продуктивно работать.<br />
                        <br />
                        “Twenty two” расположен на пересечении проспекта Гагарина и улицы Молочной. Он равноудален от двух станций метро “Проспект Гагарина” и “Спортивная”, расстояние до обеих –
                        900 м, а это всего 10 минут пешком. В пешей доступности от комплекса школы, детские сады, Конный рынок, супермаркеты, тренажерные залы и салоны красоты.<br />
                        <br />
                        Комплекс находится на одной из главных транспортных артерий города, и в этом одно из главных преимуществ его расположения. До центра Харькова на авто можно доехать за 5 минут, до железнодорожного вокзала –
                        за 10, а путь в аэропорт займет не больше 15 минут.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-architecture" role="tabpanel" aria-labelledby="nav-architecture-tab">
                    <p style="height: 100%" align="justify">
                        {% blocktranslate %}
                        Комплекс выполнен в архитектурном стиле конструктивизм. Архитекторы отказались от ультрамодных форм и отдали
                        предпочтение спокойным масштабным решениям. Две башни, объединенные едиными коммерческими помещениями, и двадцать два этажа высоты делают комплекс монументальным. МФК “Twenty two” минималистичный и визуально
                        целостный, масштабный и сдержанный. Террасы на верхних этажах – интересные детали, которые заставляют рассматривать комплекс. Дополнило идею фасадное решение. В комплексе будет использован вентилируемый навесной фасад.
                        Этажи с торговыми и офисными помещениями будут выделены акцентным фасадным решением.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-nature" role="tabpanel" aria-labelledby="nav-nature-tab">
                    <p style="height: 100%" align="justify">
                        {% blocktranslate %}
                        Двор комплекса будет просторным и огороженным от посторонних глаз.
                        Во дворе расположатся детские площадки для детей разного возраста, спортивные площадки, места для отдыха, а также стоянка для велосипедов. Для комфорта и безопасности владельцев квартир в комплексе предусмотрена
                        система видеонаблюдения, которая охватывает не только секции, но и паркинги, а также двор. Оставить свои машины владельцы квартир смогут в подземном паркинге, рассчитанном на 159 мест. Также в комплексе есть отдельный
                        паркинг на 137 машиномест для посетителей торгового центра и владельцев офисных помещений.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-inside" role="tabpanel" aria-labelledby="nav-nature-tab">
                    <p style="height: 100%" align="justify">
                        {% blocktranslate %}
                        Просторные холлы с консьержем, круглосуточная охрана, система видеонаблюдения, лифты высшего класса,
                        отдельное помещение в паркинге для хранения колясок и велосипедов — каждая деталь внутри дома продумана для максимального комфорта жильцов.
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center hiddenXS">
            <div class="d-flex flex-row col-xl-9 col-md-12 border-1 border-bottom border-green p-4 shadow">
                <div class="d-flex align-items-start p-0" id="complex">
                    <div class="nav flex-column nav-pills yellow-bg" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="shadow mb-2 px-2 pt-2 pb-1 nav-link active green-tx border border-yellow rounded-3" id="v-pills-apartment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-apartment" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <span class="material-icons md-52">account_tree</span><p>{% trans 'Инфраструктура' %}</p>
                        </button>
                        <button class="shadow my-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-architecture-tab" data-bs-toggle="pill" data-bs-target="#v-pills-architecture" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <span class="material-icons md-52">architecture </span>
                            <p>{% trans 'Архитектура' %}</p>
                        </button>
                        <button class="shadow my-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-nature-tab" data-bs-toggle="pill" data-bs-target="#v-pills-nature" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <span class="material-icons md-52">nature_people</span><p>{% trans 'Двор' %}</p>
                        </button>
                        <button class="shadow mt-2 px-2 pt-2 pb-1 nav-link green-tx border border-yellow rounded-3" id="v-pills-room-tab" data-bs-toggle="pill" data-bs-target="#v-pills-room" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <span class="material-icons md-52">meeting_room</span><p>{% trans 'Внутри дома' %}</p>
                        </button>
                    </div>
                    <div class="tab-content border-start border-green green-tx px-xl-5 ps-md-2" style="margin-left: 5%; margin-top: 5%; height: 75%" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" style="height: 100%" id="v-pills-apartment" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <p style="height: 100%" align="justify">
                                {% blocktranslate %} 
                                “Twenty two” – это многофункциональный комплекс. Все, что нужно жильцам дома, уже собрано в едином
                                пространстве под одной крышей. Первые этажи комплекса запроектированы под торговый центр – супермаркет, любимые кофейни и салоны красоты, игровые пространства для детей – все расположено здесь.
                                Торговый центр сменяют несколько этажей офисных помещений – в комплексе можно не только комфортно жить, отдыхать и делать покупки, но и продуктивно работать.<br />
                                <br />
                                “Twenty two” расположен на пересечении проспекта Гагарина и улицы Молочной. Он равноудален от двух станций метро “Проспект Гагарина” и “Спортивная”, расстояние до обеих –
                                900 м, а это всего 10 минут пешком. В пешей доступности от комплекса школы, детские сады, Конный рынок, супермаркеты, тренажерные залы и салоны красоты.<br />
                                <br />
                                Комплекс находится на одной из главных транспортных артерий города, и в этом одно из главных преимуществ его расположения. До центра Харькова на авто можно доехать за 5 минут, до железнодорожного вокзала –
                                за 10, а путь в аэропорт займет не больше 15 минут.
                                {% endblocktranslate %}
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height: 100%" id="v-pills-architecture" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <p style="height: 100%" align="justify">
                                {% blocktranslate %}
                                Комплекс выполнен в архитектурном стиле конструктивизм. Архитекторы отказались от ультрамодных форм и отдали
                                предпочтение спокойным масштабным решениям. Две башни, объединенные едиными коммерческими помещениями, и двадцать два этажа высоты делают комплекс монументальным. МФК “Twenty two” минималистичный и визуально
                                целостный, масштабный и сдержанный. Террасы на верхних этажах – интересные детали, которые заставляют рассматривать комплекс. Дополнило идею фасадное решение. В комплексе будет использован вентилируемый навесной фасад.
                                Этажи с торговыми и офисными помещениями будут выделены акцентным фасадным решением.
                                {% endblocktranslate %}
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height: 100%" id="v-pills-nature" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <p style="height: 100%" align="justify">
                                {% blocktranslate %}
                                Двор комплекса будет просторным и огороженным от посторонних глаз.
                                Во дворе расположатся детские площадки для детей разного возраста, спортивные площадки, места для отдыха, а также стоянка для велосипедов. Для комфорта и безопасности владельцев квартир в комплексе предусмотрена
                                система видеонаблюдения, которая охватывает не только секции, но и паркинги, а также двор. Оставить свои машины владельцы квартир смогут в подземном паркинге, рассчитанном на 159 мест. Также в комплексе есть отдельный
                                паркинг на 137 машиномест для посетителей торгового центра и владельцев офисных помещений.
                                {% endblocktranslate %}
                            </p>
                        </div>
                        <div class="tab-pane fade" style="height: 100%" id="v-pills-room" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <p style="height: 100%" align="justify">
                                {% blocktranslate %}
                                Просторные холлы с консьержем, круглосуточная охрана, система видеонаблюдения, лифты высшего класса,
                                отдельное помещение в паркинге для хранения колясок и велосипедов — каждая деталь внутри дома продумана для максимального комфорта жильцов.
                                {% endblocktranslate %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-xl-4 my-md-0 col-12 d-flex justify-content-center">
            <div class="col-11 col-xl-9 col-md-12 shadow d-flex flex-wrap m-5" id="info" data-aos-duration="500" data-aos-id="info">
                <a class="icon_info hideXordBorder col-12 col-xl-4 col-md-4 green-tx border-1 border-green border-end border-bottom p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="left" title="{% trans 'Центральный район города' %}" data-bs-content="{% trans 'Самый высокоразвитый район города, который включает множество промышленных, образовательных и развлекательных учреждения.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">near_me</span>
                    <span class="mt-2 float-start col-7">{% trans 'Центральный<br />район' %}</span>
                </a>
                <a class="icon_info hideXordBorder col-12 col-xl-4 col-md-4 green-tx border-1 border-green border-end border-bottom p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="top" title="{% trans 'Бизнес-класс жилья' %}" data-bs-content="{% trans 'Жилье бизнес-класса отличается большим выбором продуманных оригинальных решений, обеспечивающих максимальный комфорт. Индивидуальный проект застройки, нетиповые планировки квартир, использование последних стандартов, технологий и материалов.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">business_center</span>
                    <span class="mt-2 float-start col-7">{% trans 'Бизнес<br />класс' %}</span>
                </a>
                <a class="icon_info hideXordBorder col-12 col-xl-4 col-md-4 green-tx border-1 border-green border-bottom p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="right" title="{% trans 'Безопасность' %}" data-bs-content="{% trans 'Для того, чтобы обезопасить здание в холле размещен консьерж, установлена круглосуточная охрана и система видеонаблюдения.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">gpp_good</span>
                    <span class="mt-2 float-start col-7">{% trans 'Круглосуточная охрана' %}</span>
                </a>
                <a class="icon_info hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 green-tx border-1 border-green border-end p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="bottom" title="{% trans 'Moнoлитныe здания' %}" data-bs-content="{% trans 'Moнoлитныe здания — этo бecшoвныe бeтoнныe coopyжeния, кoтopыe cocтoят нe из oтдeльныx элeмeнтoв, a пpeдcтaвляют coбoй цeльнoлитyю кoнcтpyкцию. Такой подход обеспечивает прочность конструкции и её долговечность.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">foundation</span>
                    <span class="mt-2 float-start col-7">{% trans 'Монолитный<br /> каркас' %}</span>
                </a>
                <a class="icon_info hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 green-tx border-1 border-green border-end p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="bottom" title="{% trans 'Газобетонные блоки' %}" data-bs-content="{% trans 'Основным свойством газобетона является то, что его пористая структура наделяет его высокими теплоизоляционными свойствами. Таким образом тепло в доме может сохраняться на долгое время.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">view_compact</span>
                    <span class="mt-2 float-start col-7">{% trans 'Утеплённые<br />стены из газоблока' %}</span>
                </a>
                <a class="icon_info hideXordBorder addBtnBorder col-12 col-xl-4 col-md-4 green-tx p-3" tabindex="0" data-bs-trigger="hover" role="button" data-bs-toggle="popover" data-bs-placement="bottom" title="{% trans 'Подземный паркинг' %}" data-bs-content="{% trans 'Подземный паркинг круглосуточно находится под видеонаблюдением — вы можете не беспокоиться за свой автомобиль. Также паркинг оборудован отоплением, что позволит сразу воспользоваться автомобилем независимо от погодных условий.' %}">
                    <span class="float-start text-center material-icons md-60 col-5">local_parking</span>
                    <span class="mt-2 float-start col-7">{% trans 'Подземная парковка<br />на 296 мест' %}</span>
                </a>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div id="planning" class="col-10 p-2 green-tx">
                <p class="h2 text-center">{% trans 'Планировочные решения' %}</p>
            </div>
        </div>
    </div>
</div>

<div class="green-bg d-flex justify-content-center">
    <div class="col-xl-9 col-12 d-flex flex-xl-row flex-column pt-0 pt-md-0 mt-xl-5">
        <div class="order-2 order-xl-1 col-xl-4 col-12 p-0 yellow-tx d-flex align-items-center" id="planningtx">
            <p align="justify" class="px-4 py-4 py-md-4 py-xl-0 m-0 resp_text_mid  col-md-10 col-xl-12 col-11">
                {% blocktranslate %}
                Квартиры в комплексе запроектированы с седьмого по двадцать второй этажи. Ни на одном из этажей нет типовых решений. Потому чтобы выбрать свою идеальную квартиру, мы рекомендуем просмотреть планы всех этажей.
                Просторные или наоборот небольшие квартиры с террасами, двухуровневые квартиры с лучшими видами, для большой семьи, для пары или для холостяка – в МФК “Twenty two” каждый найдет для себя идеальный вариант.
                {% endblocktranslate %}
            </p>
            <span class="remark orange-bg col-md-2 col-1" style="height: 100%;"></span>
        </div>
        <div class="order-1 order-xl-2 col-xl-8 col-12">
            <a class="pop">
                <img src="{% static 'app/img/visual_2.webp' %}" class="border-start border-yellow px-0 px-md-0 px-xl-4  d-block w-100" alt="...">
            </a>
        </div>
    </div>
</div>

<div class="green-bg d-flex justify-content-center py-xl-5 py-md-0 py-0 border-xl-none border-bottom border-yellow hideBorderXL">
    <div class="col-xl-9 col-12 d-flex flex-xl-row flex-column">        
        <div class="col-xl-6 col-12">
            <a class="pop">
                <img src="{% static 'app/img/DVOR.webp' %}" class="border-end border-yellow px-0 px-md-0 px-xl-4 d-block w-100" alt="...">
            </a>
        </div>
        <div class="col-xl-6 col-12 p-0 yellow-tx d-flex align-items-center" id="planningtx2">
            <span class="remark orange-bg col-md-2 col-1" style="height: 100%;"></span>
            <p align="justify" class="px-4 py-4 py-md-4 py-xl-0 m-0 resp_text_mid  col-md-10 col-xl-12 col-11">
                Квартиры в комплексе запроектированы с седьмого по двадцать второй этажи. Ни на одном из этажей нет типовых решений. Потому чтобы выбрать свою идеальную квартиру, мы рекомендуем просмотреть планы всех этажей.
                Просторные или наоборот небольшие квартиры с террасами, двухуровневые квартиры с лучшими видами, для большой семьи, для пары или для холостяка – в МФК “Twenty two” каждый найдет для себя идеальный вариант.
            </p>
        </div>
    </div>    
</div>
<div class="col-12 d-flex justify-content-center green-bg" style="border:none;">
    <div class="col-xl-9 col-12 d-flex flex-xl-row flex-wrap my-4 ">
        <a class="pop p-2 col-xl-3 col-md-6 col-12">
            <img src="{% static 'app/img/3_4.webp' %}" class="px-0 d-block w-100" alt="...">
        </a>
        <a class="pop p-2 col-xl-3 col-md-6 col-12">
            <img src="{% static 'app/img/3_5.webp' %}" class="px-0 d-block w-100" alt="...">
        </a>
        <a class="pop p-2 col-xl-3 col-md-6 col-12">
            <img src="{% static 'app/img/3_6.webp' %}" class="px-0 d-block w-100" alt="...">
        </a>
        <a class="pop p-2 col-xl-3 col-md-6 col-12">
            <img src="{% static 'app/img/3_8.webp' %}" class="px-0 d-block w-100" alt="...">
        </a>
    </div>
    </div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" data-dismiss="modal">
    <div class="modal-content">
        <div class="modal-header col-12 p-0">
            <div class="col-12 green-bg border-yellow d-flex justify-content-end align-items-center" style="height: 100%; min-height:60px;">
                <button type="button" class="btn-close btn-close-white me-5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
      <div class="modal-body p-0">      
        <img src="#" class="imagepreview" style="width: 100%;" >
      </div>       
    </div>
  </div>
</div>


<div class="">
    <div class="shadow-lg mx-0 yellow-bg">
        <div class="col-12 d-flex justify-content-center">
            <div id="apartment" class="mt-xl-5 mt-md-5 mt-3 col-10 p-2 green-tx">
                <p class="h2 text-center">{% trans 'Подобрать квартиру' %}</p>
            </div>
        </div>
        <div class="p-0 d-flex justify-content-center">
            <div class="col-10 col-xl-8 p-0 d-flex justify-content-center">
                <iframe data-aos="zoom-out" id="frame" style="width: 100%; height: 710px" referrerpolicy="no-referrer"
                    src="https://chessgrid.developerit.systems/public/developers/5ecd1c2590de761738c029a3/apartmentComplex/6151c5e35f333e539505f646/layout/61593eeb5f333e5395b45dea?authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlLZXkiOiI3Zjc4MGIzYy1iYzgwLTQ1YWMtOTkxMS01YjYyMjlkMTg5NzUiLCJpYXQiOjE2MzMzNTA4NzksImV4cCI6MTc5MTEzODg3OX0.4GXbFFq8RxxxogLwV4gYpzo2V4wS1kUGxj5PztQ_fpE"></iframe>
            </div>
        </div>

        <div class="modal fade show" id="frameModal" tabindex="-1" aria-labelledby="frameModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header col-12 p-0" style="min-height: 60px;">
                        <div class="d-flex justify-content-center col-2 p-0 border-end orange-bg border-yellow" style="height: 100%;">
                            <a class="m-1 logo d-flex align-items-center" href="{% url 'home' %}">
                                <img style="width: 160px;" src="{% static 'app/img/22_logo_white.png' %}" class="img-fluid" alt="..."></a>
                        </div>
                        <div class="col-10 green-bg d-flex justify-content-end align-items-center" style="height: 100%;">
                            <button type="button" class="btn-close btn-close-white me-5" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <iframe id="iframeModalCompleN" referrerpolicy="no-referrer" src="#" style="width: 100%; height: 100vh; margin-bottom: 0;" frameborder="0"></iframe>
                    </div>
                    <div class="modal-footer green-bg d-flex justify-content-center">
                        <div class="col-xl-10 col-md-11 col-12 px-xl-0 px-md-0 px-1 d-flex flex-row">
                            <div class="col-7 col-md-5 col-xl-5 d-flex flex-column justify-content-start">
                                <a class="hiddenSize hiddenXL mt-1 mt-xl-0 mt-md-0 mb-1 d-flex justify-content-start" href="{% url 'home' %}">
                                    <img style="width: 180px; max-height: 68px;" src="{% static 'app/img/22_logo_yellow.png' %}" class="img-fluid" alt="..."></a>
                                <a class="resp_text d-flex justify-content-start align-items-end m-0 h5 text-center" href="https://zhilstroj-2.ua/complexes/mfk22/" target="_blank">{% trans '© ОДО «ЖИЛСТРОЙ-2»' %}</a>
                            </div>
                            <div class="col-5 col-md-7 col-xl-7 d-flex flex-column flex-md-row flex-xl-row justify-content-end">
                                <span class="yellow-tx d-md-flex d-xl-flex justify-content-start align-items-center">{% trans 'Отдел продаж:' %}</span>
                                <a class="d-inline-block mx-0 mx-md-2 mx-xl-2 d-md-flex d-xl-flex justify-content-start align-items-center pt-0 " href="tel:+380577021361">057 702 13 61;</a>
                                <a class="d-inline-block mx-0 mx-md-2 mx-xl-2 d-md-flex d-md-flex d-xl-flex justify-content-start align-items-center pt-0 " href="tel:+380577270717">057 727 07 17;</a>
                                <a class="d-inline-block mx-0 mx-md-2 mx-xl-2 d-md-flex d-md-flex d-xl-flex justify-content-start align-items-center pt-0 " href="tel:+380577152828">057 715 28 28;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-xl-7 col-md-10 col-11 white-tx green-bg shadow-lg p-4 rounded-3" data-aos="fade-down" data-aos-duration="1000">
                <p class="col-12 p-0 d-flex justify-content-center yellow-tx h4" align="center">{% trans 'Оставьте свои данные. Наш менеджер позвонит и поможет подобрать квартиры под ваш запрос' %}</p>
                <form class="pt-4">
                    <div class="mb-3 my-4 border-bottom col-12">
                        <label for="InputName" class="form-label yellow-tx">{% trans 'Ваше имя' %}</label>
                        <input type="text" required class="contact_info yellow-tx form-control border-0 px-1 green-bg col-12" id="InputName">
                    </div>
                    <div class="mb-3 my-4 border-bottom col-12">
                        <label for="inputPhone" class="form-label yellow-tx">{% trans 'Номер телефона' %}</label>
                        <input type="text" class="contact_info yellow-tx form-control border-0 px-1 green-bg col-12" id="phone">
                    </div>
                    <div class="col-12 pt-4 d-flex justify-content-end">
                        <input type="submit" value="{% trans 'ОТПРАВИТЬ' %}" class="h4 send">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div id="location" class="mt-xl-5 mt-md-5 mt-3 col-10 p-2 green-tx">
                <p class="h2 text-center">{% trans 'Расположение' %}</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-xl-10 col-12 shadow-lg d-flex flex-xl-row flex-md-row flex-column mb-xl-5 mb-md-5 mx-0" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0">
                <div class="col-4 shadow-lg green-bg" id="markers" style="width: 25%;">
                    <a id="market" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Магазины' %}</a>
                    <a id="parks" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Парки' %}</a>
                    <a id="restaurant" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Рестораны' %}</a>
                    <a id="medicine" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Здоровье' %}</a>
                    <a id="transports" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Транспортные сети' %}</a>
                    <a id="schools" class="p-3 p-xl-0 p-md-0 marks col-12 d-inline-block d-md-flex d-xl-flex justify-content-center align-items-center border-bottom" style="height: 10%">{% trans 'Учебные заведения' %}</a>
                </div>
                <div id="map" style="width: 75%; height: 500px"></div>
            </div>
        </div>
    </div>
</div>
<div id="toUp">
    <div class="col-12 p-0 orange-bg rounded-3 shadow">
        <a id="toTop" class="menu h-100 d-inline-block text-center col-12 p-0 green-tx material-icons md-48">arrow_upward</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/jquery.inputmask.min.js' %}"></script>
<script src="https://kit.fontawesome.com/3ad61f7b57.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{% static 'app/scripts/bootstrap.bundle.min.js' %}"></script>
<script>
    $(window).on('load', function () {
        $('#loading').hide();

        $("#header").addClass("sticky-xl-top");
        const mediaQuery = window.matchMedia('(min-width: 1200px)')
        if (mediaQuery.matches) {
            $("#complex").attr("data-aos", "fade-up");
            $("#info").attr("data-aos", "zoom-out");
            $("#planningtx").attr("data-aos", "fade-left");
            $("#planningtx2").attr("data-aos", "fade-right");
        }
        else {
            $("#complex").attr("data-aos", "fade-up");
            $("#info").attr("data-aos", "fade-up");
            $("#planningtx").attr("data-aos", "fade-up");
            $("#planningtx2").attr("data-aos", "fade-up");
            $("#frame").attr("data-aos", "fade-down");
        }
        AOS.init();
        const mediaQueryXS = window.matchMedia('(max-width: 767px)')
        if (mediaQueryXS.matches) {
            $(".icon_info").attr("data-bs-placement", "top");
        }
    });

</script>
<script>   
    $(document).ready(function () {
        $("#phone").inputmask({ "mask": "+380(999)999-9999" }); //specifying options
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })       
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 700) {
                $('#toUp').fadeIn();
                $('#toUp').css("visibility", "visible");
            } else {
                $('#toUp').fadeOut();
            }
            $('.icon_info').popover("hide");
        });
        $("#toTop").click(function () {
            window.scrollTo(0, 0);
        });
        $(function () {
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });
        });
        var map;
        DG.then(function () {
            var map,
                complexes = DG.featureGroup(),
                markets = DG.featureGroup(),
                medicine = DG.featureGroup(),
                parks = DG.featureGroup(),
                restaurants = DG.featureGroup(),
                schools = DG.featureGroup(),
                transports = DG.featureGroup(),
                map = DG.map('map', {
                    center: [49.978350, 36.251630],
                    zoom: 16,
                    zoomControl: false
                });
            complex = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-36">apartment</span>'
            });
            market = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">local_grocery_store</span>'
            });
            medic = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">local_hospital</span>'
            });
            park = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">park</span>'
            });
            restaurant = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">restaurant</span>'
            });
            transport = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">directions_subway_filled</span>'
            });
            school = DG.divIcon({
                iconSize: [0, 0],
                html: '<p style="color: rgb(242, 99, 66);" class="material-icons d-flex justify-content-center md-24">school</span>'
            });

            DG.marker([49.978350, 36.251630], { icon: complex }).addTo(complexes).bindPopup('«TwentyTwo»');
            complexes.addTo(map);
            $("#market").click(function () {
                map.setView([49.977350, 36.255630], 15);
                transports.removeFrom(map);
                medicine.removeFrom(map);
                schools.removeFrom(map);
                parks.removeFrom(map);
                restaurants.removeFrom(map);
                DG.marker([49.977646, 36.252224], { icon: market }).addTo(markets).bindPopup('АТБ, мережа супермаркетів');
                DG.marker([49.977026, 36.250235], { icon: market }).addTo(markets).bindPopup('Таврія В');
                DG.marker([49.976072, 36.251933], { icon: market }).addTo(markets).bindPopup('Посад');
                DG.marker([49.978684, 36.24795], { icon: market }).addTo(markets).bindPopup('MAKmarket');
                DG.marker([49.977379, 36.245301], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
                DG.marker([49.97927, 36.24617], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
                DG.marker([49.975861, 36.245724], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
                DG.marker([49.97509, 36.248292], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
                DG.marker([49.974648, 36.248918], { icon: market }).addTo(markets).bindPopup('Посад');
                DG.marker([49.973427, 36.251228], { icon: market }).addTo(markets).bindPopup('Продовольчий магазин');
                DG.marker([49.974648, 36.248918], { icon: market }).addTo(markets).bindPopup('Посад');
                DG.marker([49.973261, 36.256766], { icon: market }).addTo(markets).bindPopup('Маркет+');
                DG.marker([49.974754, 36.25623], { icon: market }).addTo(markets).bindPopup('Магазин товарів із Європи');
                DG.marker([49.975544, 36.260947], { icon: market }).addTo(markets).bindPopup('Посад');
                DG.marker([49.98072, 36.253142], { icon: market }).addTo(markets).bindPopup('Щедрий фермер');
                DG.marker([49.981579, 36.254255], { icon: market }).addTo(markets).bindPopup('Продуктовий магазин');
                DG.marker([49.981155, 36.25562], { icon: market }).addTo(markets).bindPopup('Борисфен');
                DG.marker([49.980601, 36.257964], { icon: market }).addTo(markets).bindPopup('Десятка');
                DG.marker([49.978902, 36.264324], { icon: market }).addTo(markets).bindPopup('Десятка');
                markets.addTo(map);
            });
            $("#restaurant").click(function () {
                map.setView([49.978379, 36.253903], 16);
                medicine.removeFrom(map);
                markets.removeFrom(map);
                transports.removeFrom(map);
                parks.removeFrom(map);
                schools.removeFrom(map);
                DG.marker([49.977078, 36.2503], { icon: restaurant }).addTo(restaurants).bindPopup('Т-Спринт');
                DG.marker([49.976603, 36.251326], { icon: restaurant }).addTo(restaurants).bindPopup('Союз');
                DG.marker([49.976246, 36.252564], { icon: restaurant }).addTo(restaurants).bindPopup("Птаха кава");
                DG.marker([49.975707, 36.253585], { icon: restaurant }).addTo(restaurants).bindPopup('Йоль');
                DG.marker([49.975299, 36.254189], { icon: restaurant }).addTo(restaurants).bindPopup('Cipollino');
                DG.marker([49.975834, 36.254876], { icon: restaurant }).addTo(restaurants).bindPopup('Хороші сусіди');
                DG.marker([49.974623, 36.256313], { icon: restaurant }).addTo(restaurants).bindPopup('Слобідський');
                DG.marker([49.973948, 36.255683], { icon: restaurant }).addTo(restaurants).bindPopup('ProCoffeey');
                DG.marker([49.972853, 36.256584], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
                DG.marker([49.978422, 36.248596], { icon: restaurant }).addTo(restaurants).bindPopup('ДзенКава');
                DG.marker([49.978784, 36.248672], { icon: restaurant }).addTo(restaurants).bindPopup('Наталі');
                DG.marker([49.97973, 36.245905], { icon: restaurant }).addTo(restaurants).bindPopup('Delice');
                DG.marker([49.975824, 36.245962], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
                DG.marker([49.977194, 36.245256], { icon: restaurant }).addTo(restaurants).bindPopup('Кафе');
                DG.marker([49.97568, 36.259474], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
                DG.marker([49.979323, 36.257734], { icon: restaurant }).addTo(restaurants).bindPopup('Кулиничі');
                DG.marker([49.979535, 36.258509], { icon: restaurant }).addTo(restaurants).bindPopup('1925');
                DG.marker([49.980196, 36.257014], { icon: restaurant }).addTo(restaurants).bindPopup('Надія');
                DG.marker([49.981684, 36.254224], { icon: restaurant }).addTo(restaurants).bindPopup('Шашлична №1');
                DG.marker([49.981445, 36.254139], { icon: restaurant }).addTo(restaurants).bindPopup('Де нас чекают');
                restaurants.addTo(map);
            });
            $("#transports").click(function () {
                map.setView([49.98153, 36.253847], 14);
                medicine.removeFrom(map);
                markets.removeFrom(map);
                restaurants.removeFrom(map);
                schools.removeFrom(map);
                parks.removeFrom(map);
                DG.marker([49.979951, 36.260473], { icon: transport }).addTo(transports).bindPopup('метро "Спортивна"');
                DG.marker([49.978861, 36.26261], { icon: transport }).addTo(transports).bindPopup('метро "Метробудівників"');
                DG.marker([49.988662, 36.264745], { icon: transport }).addTo(transports).bindPopup('метро "Захисників України"');
                DG.marker([49.990995, 36.2333], { icon: transport }).addTo(transports).bindPopup('метро "Майдан Конституції"');
                DG.marker([49.993601, 36.229853], { icon: transport }).addTo(transports).bindPopup('метро "Історичний музей"');
                DG.marker([49.981492, 36.243211], { icon: transport }).addTo(transports).bindPopup('метро "Гагаріна проспект"');
                DG.marker([49.976014, 36.282079], { icon: transport }).addTo(transports).bindPopup('метро "Завод ім. Малишева"');
                DG.marker([49.993571, 36.221000], { icon: transport }).addTo(transports).bindPopup('метро "Центральний Ринок"');
                transports.addTo(map);
            });
            $("#parks").click(function () {
                map.setView([49.98200, 36.253600], 15);
                medicine.removeFrom(map);
                markets.removeFrom(map);
                transports.removeFrom(map);
                restaurants.removeFrom(map);
                schools.removeFrom(map);
                DG.marker([49.985228, 36.245327], { icon: park }).addTo(parks).bindPopup('Михайлівський сквер');
                DG.marker([49.983971, 36.248588], { icon: park }).addTo(parks).bindPopup('Дитячий парк');
                DG.marker([49.98882, 36.247176], { icon: park }).addTo(parks).bindPopup('Сквер Героїв Небесної Сотні');
                DG.marker([49.983004, 36.234306], { icon: park }).addTo(parks).bindPopup('Гімназійна набережна');
                DG.marker([49.979464, 36.267724], { icon: park }).addTo(parks).bindPopup('Сад "Металіст"');
                DG.marker([49.987945, 36.264648], { icon: park }).addTo(parks).bindPopup('Сквер БК ХЕМЗ');
                DG.marker([49.987029, 36.269358], { icon: park }).addTo(parks).bindPopup('Парк БК ХЕМЗ');
                DG.marker([49.985751, 36.27011], { icon: park }).addTo(parks).bindPopup('Дитячий майданчик "Зоряне містечко"');
                DG.marker([49.991782, 36.248486], { icon: park }).addTo(parks).bindPopup('Сквер Фейєрбаха');
                parks.addTo(map);
            });
            $("#schools").click(function () {
                map.setView([49.98200, 36.253600], 15);
                medicine.removeFrom(map);
                markets.removeFrom(map);
                transports.removeFrom(map);
                restaurants.removeFrom(map);
                parks.removeFrom(map);
                DG.marker([49.978616, 36.256305], { icon: school }).addTo(schools).bindPopup('Спеціалізована школа з поглибленим вивченням іноземної мови');
                DG.marker([49.980196, 36.253512], { icon: school }).addTo(schools).bindPopup('UA21. Школа танцю');
                DG.marker([49.978616, 36.256305], { icon: school }).addTo(schools).bindPopup('Top Quality School');
                DG.marker([49.981147, 36.251198], { icon: school }).addTo(schools).bindPopup('Харківська гімназія №46 ім. М.В. Ломоносова');
                DG.marker([49.972484, 36.250913], { icon: school }).addTo(schools).bindPopup('Харківська гімназія №12');
                DG.marker([49.98218, 36.249782], { icon: school }).addTo(schools).bindPopup('Харківська об`єднано-технічна школа товариства сприяння оборони України');
                DG.marker([49.981765, 36.246937], { icon: school }).addTo(schools).bindPopup('Регіональний центр професійної освіти інноваційних технологій будівництва та промисловості');
                DG.marker([49.982329, 36.243232], { icon: school }).addTo(schools).bindPopup('КРОК');
                DG.marker([49.985267, 36.240464], { icon: school }).addTo(schools).bindPopup('Харківська загальноосвітня школа №10');
                DG.marker([49.991472, 36.257968], { icon: school }).addTo(schools).bindPopup('Харківська загальноосвітня школа №19');
                DG.marker([49.98593, 36.252267], { icon: school }).addTo(schools).bindPopup('Детская музыкальная школа №5 им. Римского-Корсакова');
                schools.addTo(map);
            });
            $("#medicine").click(function () {
                map.setView([49.977035, 36.251084], 14.5);
                parks.removeFrom(map);
                schools.removeFrom(map);
                markets.removeFrom(map);
                restaurants.removeFrom(map);
                transports.removeFrom(map);
                DG.marker([49.972338, 36.256567], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
                DG.marker([49.980271, 36.244534], { icon: medic }).addTo(medicine).bindPopup('9-1-1');
                DG.marker([49.975848, 36.255237], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
                DG.marker([49.975618, 36.257681], { icon: medic }).addTo(medicine).bindPopup('Аптека №431');
                DG.marker([49.975326, 36.260932], { icon: medic }).addTo(medicine).bindPopup('Аптека');
                DG.marker([49.973269, 36.25651], { icon: medic }).addTo(medicine).bindPopup('Аптека оптовых цін');
                DG.marker([49.975771, 36.253252], { icon: medic }).addTo(medicine).bindPopup('Славутич, мережа аптек');
                DG.marker([49.98212, 36.255036], { icon: medic }).addTo(medicine).bindPopup('ГАЛАТЕЯ-ФАРМ');
                DG.marker([49.980472, 36.243671], { icon: medic }).addTo(medicine).bindPopup('Аптека низькі цін №1');
                DG.marker([49.976567, 36.25157], { icon: medic }).addTo(medicine).bindPopup('Аптека низькі цін');
                medicine.addTo(map);
            });

        });
    });
</script>
<script>
    $(function () {
        window.addEventListener('message', function (message) {
            if (message.data) {
                $('#iframeModalCompleN').prop('src', message.data)
                var Modal = new bootstrap.Modal(document.getElementById('frameModal'), {
                    keyboard: false
                });
                Modal.show();
            }
        });
    });

</script>

{% endblock %}