<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwentyTwo</title>
    {% load staticfiles %}
    <link href="{% static 'app/content/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body class="p-0" >
    <nav class="p-0 sticky-top bg-white">
        <div class="container-fluid p-0">
        <div class="row border-dark border-bottom m-0 p-0">
            <div class="d-flex justify-content-center col-2 p-0 border-dark border-end ">
                <a style="cursor:pointer" href="{% url 'home' %}"><img style="width: 165px;" src="{% static 'app/img/cmprsd/22_logo_small.png' %}" class="img-fluid" alt="..."></a>
            </div>

            <div class="col-9 border-dark border-end p-0">
                <div class="col-12 p-0 align-items-center d-flex justify-content-center border-dark border-bottom" style="height: 50%;">
                    <span class="col-11 align-items-center d-flex justify-content-center" style="height:100%;">123</span>
                    <span class="col-1 align-items-center d-flex justify-content-center border-dark border-start" style="height:100%;">UA</span>
                </div>
                <div class="col-12 p-0 align-items-center d-flex justify-content-center" style="height: 50%;">
                    <span class="col-11 align-items-center d-flex justify-content-center" style="height:100%;">123</span>
                    <span class="col-1 align-items-center d-flex justify-content-center border-dark border-start" style="height:100%;">RU</span>
                </div>               
            </div>

            <div class="col-1 p-0" >
                <a class="col-12 align-items-center d-flex justify-content-center" style="height:100%; cursor:pointer; text-decoration: none;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="{% static 'app/img/sup_items/menu.svg' %}" /></a>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"> </button>
                  </div>
                  <div class="offcanvas-body">
                    ...
                  </div>
                </div>      
            </div>
        </div>
        </div>
    </nav>



    {% block content %}

{% endblock %}

        <footer>
        </footer>

    <script src="{% static 'app/scripts/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
